@media only screen and (max-width:480px){
    .container{
        padding: 0;
        display: flex;
        align-items: stretch;
        width:100%;       
        background-color: #f0f4f8;
}    .Image{
        height:80 vh;
        margin: 0;
        width: 100 vw;
}
  
}
@media only screen and (max-width:767px) and (min-width:481px){
    .container{
        padding: 0;
        display: flex;
        align-items: stretch;
        width:100%;       
        background-color: #f0f4f8;
}    .Image{
        height:80 vh;
        margin: 0;
        width: 100 vw;
}
}
@media only screen and (max-width:1480px) and (min-width:768px){
    .container{
        padding: 0;
        display: flex;
        align-items: stretch;
        width:100%;       
        background-color: #f0f4f8;
}    .Image{
        height:80 vh;
        margin: 0;
        width: 100 vw;
}
    

}