@media only screen and (max-width:480px) and (min-width:320px){
    .container{
        padding: 0;
        
        width: 100 vw;        
        background-color: #f0f4f8;
    .Image{
        width:100 vw; 
        padding: 0%;
        
        height:80 vh;
        margin: 0;
    }
    
}  
}
@media only screen and (max-width:767px) and (min-width:480px){
    .container{
        padding: 0;
        width: 100 vw;
        background-color: #f0f4f8;
    .Image{
        width:100 vw; 
        left:0; 
        height:80 vh;
        margin:0;
    }
    
}  
}
@media only screen and (max-width:1280px) and (min-width:767px){
    .container{
        padding: 0;
        padding-left: auto;
        padding-right: auto;
        display: flex;
        align-items: flex-start;
        background-color: #f0f4f8;
    .Image{
        width:'100%'; 
        align-self: flex-start;
        left:0; 
        height:80%;
        margin: auto auto auto 0;
    }
    
}  
}