@media only screen and (max-width:2560px){
  .html{
    width: auto;
  }  
  .container{

        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
       
    }
    
    .label{
        color: #1a202c;
        font-size: 1.125rem;
        
        align-self:flex-start;
        justify-content: center;
        width: 100%;
        
    
    }
  .input {
    
    
    
    border: 2px solid black; 
    border-radius: 4px; 
    width: 100%;
    justify-content: center;
    height: auto;
    color: #4a5568; 
    line-height: 1.25;
    outline: none;
    box-shadow: 0 0 0 1px #a9c0e7; 
  }
  
}
