@media only screen and (max-width:480px) and (min-width:320px) {
    .container{
        background-color: white;
        padding: auto auto auto auto ;
        width: 100 vw;
        height: 5 vh;
        display: inline-flex;
        justify-content: flex-start;
        
        

    }
    .hhh{
        display:flex;
        align-items: flex-start;
    }
    .Image{
        
        border-radius: 9999px;
        margin:auto 0 auto 0;
    }
    
    .one{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: fit-content;
        
        margin: 0 80% auto 20%;
    }
    .two{
        color: gray;
        color: rgb(75 85 99); 
        font-size: 0.75rem; 
        line-height: 1rem; 
        display: block;
        position: absolute;
        top: 5%;
        right: auto;
        left: auto;
        bottom: auto;
    }
    .three{
        margin:auto 4.5% auto 96%;
       position: absolute;
       top: auto;
       right: 31%;
       bottom: auto;
          
    }
    .fivesix{
        margin: auto 6.8% auto auto;
        right: 12%;
        position: absolute;
    }
    
    .five{
       
       margin-right: 4.8%;
       position: absolute;
       top: auto;
       right: 57%;
       
    }
    .six{
        position: absolute;
        top:5%;
        left:65%;
    }
    .seven{
        position: absolute;
        top: 2%;
        left: 88%;
        bottom: auto;
      
        
 
    }
    .eight{
        width: 1%;
        height: 1%;
        position: absolute;
        top: 1%;
        left: 94%;
        bottom: auto;
        
        
 
    }
}
@media only screen and (max-width:767px) and (min-width:480px) {
    .container{
        background-color: white;
        padding: auto auto auto auto ;
        width: 100 vw;
        height: 5 vh;
        display: inline-flex;
        justify-content: flex-start;
        
        

    }
    .hhh{
        display:flex;
        align-items: flex-start;
    }
    .Image{
        
        border-radius: 9999px;
        margin:auto 0 auto 0;
    }
    
    .one{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: fit-content;
        
        margin: 0 80% auto 20%;
    }
    .two{
        color: gray;
        color: rgb(75 85 99); 
        font-size: 0.75rem; 
        line-height: 1rem; 
        display: block;
        position: absolute;
        top: 5%;
        right: auto;
        left: auto;
        bottom: auto;
    }
    .three{
        margin:auto 4.5% auto 96%;
       position: absolute;
       top: auto;
       right: 31%;
       bottom: auto;
          
    }
    .fivesix{
        margin: auto 6.8% auto auto;
        right: 12%;
        position: absolute;
    }
    
    .five{
       
       margin-right: 4.8%;
       position: absolute;
       top: auto;
       right: 57%;
       
    }
    .six{
        position: absolute;
        top:5%;
        left:65%;
    }
    .seven{
        position: absolute;
        top: 2%;
        left: 88%;
        bottom: auto;
      
        
 
    }
    .eight{
        width: 1%;
        height: 1%;
        position: absolute;
        top: 1%;
        left: 94%;
        bottom: auto;
        
        
 
    }
}
@media only screen and (max-width:1280px) and (min-width:767px) {
    .container{
        background-color: white;
        padding: auto auto auto auto ;
        width: 100 vw;
        height: 5 vh;
        display: inline-flex;
        justify-content: flex-start;
        
        

    }
    .hhh{
        display:flex;
        align-items: flex-start;
    }
    .Image{
        
        border-radius: 9999px;
        margin:auto 0 auto 0;
    }
    
    .one{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: fit-content;
        
        margin: 0 80% auto 20%;
    }
    .two{
        color: gray;
        color: rgb(75 85 99); 
        font-size: 0.75rem; 
        line-height: 1rem; 
        display: block;
        position: absolute;
        top: 5%;
        right: auto;
        left: auto;
        bottom: auto;
    }
    .three{
        margin:auto 4.5% auto 96%;
       position: absolute;
       top: auto;
       right: 31%;
       bottom: auto;
          
    }
    .fivesix{
        margin: auto 6.8% auto auto;
        right: 12%;
        position: absolute;
    }
    
    .five{
       
       margin-right: 4.8%;
       position: absolute;
       top: auto;
       right: 57%;
       
    }
    .six{
        position: absolute;
        top:5%;
        left:65%;
    }
    .seven{
        position: absolute;
        top: 2%;
        left: 88%;
        bottom: auto;
      
        
 
    }
    .eight{
        width: 1%;
        height: 1%;
        position: absolute;
        top: 1%;
        left: 94%;
        bottom: auto;
        
        
 
    }
}