@media only screen and (max-width:480px) and (min-width:320px) {
    .container{
        background-color: white;
        padding: auto auto auto auto ;
        width: 100 vw;
        height: 5 vh;
        display: inline-flex;
        justify-content: flex-start;
        
        

    }
    .hhh{
        display:flex;
        align-items: flex-start;
    }
    .Image{
        
        border-radius: 9999px;
        margin-top: 4%;
        margin-right: 4%;
        
    }
    
    .one{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: fit-content;
        margin-right: 88%;
        
    }
    .two{
        color: gray;
        color: rgb(75 85 99); 
        font-size: 0.75rem; 
        line-height: 1rem; 
        display: block;
        position: absolute;
        top: 4%;
        margin-right: 4%;
    }
    .three{
        
        
        position: absolute;
        right: 39%;
    }
    .fivesix{
        
        margin-left: 52%;
        position: absolute;
    }
    
   
    
    .seven{
        position: absolute;
        top: 1%;
        left: 88%;
        bottom: auto;
      
        
 
    }
    .eight{
        width: 1%;
        height: 1%;
        position: absolute;
        top: 1%;
        left: 94%;
        bottom: auto;
        
        
 
    }
}
@media only screen and (max-width:767px) and (min-width:481px) {
    .container{
        background-color: white;
        padding: auto auto auto auto ;
        width: 100 vw;
        height: 5 vh;
        display: inline-flex;
        justify-content: flex-start;
        
        

    }
    .hhh{
        display:flex;
        align-items: flex-start;
    }
    .Image{
        
        border-radius: 9999px;
        margin-top: 4%;
        margin-right: 4%;
        
    }
    
    .one{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: fit-content;
        margin-right: 88%;
        
    }
    .two{
        color: gray;
        color: rgb(75 85 99); 
        font-size: 0.75rem; 
        line-height: 1rem; 
        display: block;
        position: absolute;
        top: 5%;
        margin-right: 4%;
    }
    .three{
        
        
        position: absolute;
        right: 39%;
    }
    .fivesix{
        
        margin-left: 56%;
        position: absolute;
    }
    
   
    
    .seven{
        position: absolute;
        top: 2%;
        left: 88%;
        bottom: auto;
      
        
 
    }
    .eight{
        width: 1%;
        height: 1%;
        position: absolute;
        top: 1%;
        left: 94%;
        bottom: auto;
        
        
 
    }
}
@media only screen and (max-width:1480px) and (min-width:768px) {
    .container{
        background-color: white;
        padding: auto auto auto auto ;
        width: 100 vw;
        height: 5 vh;
        display: inline-flex;
        justify-content: flex-start;
        
        

    }
    .hhh{
        display:flex;
        align-items: flex-start;
    }
    .Image{
        
        border-radius: 9999px;
        margin-top: 4%;
        margin-right: 4%;
        
    }
    
    .one{
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600; 
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        width: fit-content;
        margin-right: 88%;
        
    }
    .two{
        color: gray;
        color: rgb(75 85 99); 
        font-size: 0.75rem; 
        line-height: 1rem; 
        display: block;
        position: absolute;
        top: 5%;
        margin-right: 4%;
    }
    .three{
        
        
        position: absolute;
        right: 39%;
    }
    .fivesix{
        
        margin-left: 58%;
        position: absolute;
    }
    
   
    
    .seven{
        position: absolute;
        top: 2%;
        left: 88%;
        bottom: auto;
      
        
 
    }
    .eight{
        width: 1%;
        height: 1%;
        position: absolute;
        top: 1%;
        left: 96%;
        bottom: auto;
        
        
 
    }
}