
@media only screen and (max-width:480px) {

 
    .flexcontainer{
        background-color: white;
        display: flex;
        justify-content: space-between;
        gap: 8%;
        flex-direction: row;
        width: 100 vw;
    }
    .Image{
        
        border-radius: 90%;
        margin-right: 2%;
    }
    .leftbox{
        display: flex;
        flex-direction: row;
        margin-right: auto;
    }
    .person{
        display: flex;
        flex-direction: column;
    }
    .text{
        display: flex;
        flex-direction: row;
    }
    .itemflex{
        white-space: nowrap;
    }
    .rightbox{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-left: auto;
    }
    .abc{
        display: flex;
        padding:2%;
    }
    .def{
        display: flex;
        flex-direction: column;
        
    }
    .flexitem{
        white-space: nowrap;
        color: gray;
    }
    .hij{
        display: flex;
        flex-direction: row;
    }
    
}
@media only screen and (max-width:767px) and (min-width:480px) {
    .flexcontainer{
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .Image{
       
        border-radius: 90%;
        margin-right: 2%;
    }
    .leftbox{
        display: flex;
        flex-direction: row;
        
       
    }
    .person{
        display: flex;
        flex-direction: column;
    }
    .text{
        display: flex;
        flex-direction: row;
    }
    .itemflex{
        white-space: nowrap;
    }
    .rightbox{
        display: flex;
        flex-direction: row;
        
        justify-content: space-around;
        
        box-sizing: border-box;   
    }
    .abc{
        display: flex;
        padding:2%;
    }
    .def{
        display: flex;
        flex-direction: column;
        
    }
    .flexitem{
        white-space: nowrap;
        color: gray;
    }
    .hij{
        display: flex;
        flex-direction: row;
    }
}
@media only screen and (max-width:1600px) and (min-width:768px) {
    .flexcontainer{
        background-color: white;
        display: flex;
        justify-content: space-between;
    }
    .Image{
       
        border-radius: 90%;
        margin-right: 2%;
    }
    .leftbox{
        display: flex;
        flex-direction: row;
        
       
    }
    .person{
        display: flex;
        flex-direction: column;
    }
    .text{
        display: flex;
        flex-direction: row;
    }
    .itemflex{
        white-space: nowrap;
    }
    .rightbox{
        display: flex;
        flex-direction: row;
        
        justify-content: space-around;
        
        
    }
    .abc{
        display: flex;
        padding:2%;
    }
    .def{
        display: flex;
        flex-direction: column;
        
    }
    .flexitem{
        white-space: nowrap;
        color: gray;
    }
    .hij{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 1%;
    }
}