@media only screen and (max-width:480px) and (min-width:320px) {
    .container{
        background-color: #f7fafc;
        padding: 0;
        display: flex;
        
    }
    .two{
        
        margin: 2% 0 auto 0;
    }
    .three{
        display: flex;
        gap: 1.25rem;
        
    }
    .three.Image{
        color: black;
    }
    .four{
        background-color: rgb(82, 22, 138);
        color: rgb(255 255 255);
        font-style: bold;
        padding: 2% 8% 2% 4%;
        position: relative;
        top: 46%;
        bottom: auto;
        left: 90%;
        margin: auto 0 auto auto;
        

        border-radius: 0.25rem;
    }
    .zero{
        position: absolute;
        top:46%;
        bottom: auto;
        left: 75%;
        right: 0;

    }
    .five{
        font-size: 0.875rem;
        line-height: 1.25rem;
       position: absolute;
       top: 55%;
       bottom: auto;
       left: 1%;
       
    }
    .six{
        margin-left:'15px';
        
        
        overflow: hidden;
        border-radius: 90%;
        position: absolute;
        top: 60%;
        left: 1%;
        right: auto;
        bottom: auto;
    }
    .seven{
        left:15%;
        position: absolute;
        top: 61%;
    }
    .seven.abcd{
        position: absolute;
        top: 60%;
        left: 5%;
        bottom: auto;
        right: auto;
    }
    .seven.cvbn{
        position: absolute;
        top: 64%;
        left: 5%;
        bottom: auto;
        right: auto;
        color: black;
        font-weight: 600;
    }
    .seven.klmn{
        color: gray;
    }
    .opt{
       position: absolute;
       top: 65%;
       
    }
    .rtu{
        position:absolute;
        top: 48%;
        right: 2%;

    }
    
}