@media only screen and (max-width:480px) {
   
  
  .container{
    margin:auto auto auto auto;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: auto;
        
    }
    
  .input {
    
    
    margin:auto auto auto auto;
    
    border: 2px solid black; 
    border-radius: 4px; 
    width: 64.5%;
    height: 25%;
    justify-content: center;
    
    color: #4a5568; 
    line-height: 1.25;
    outline: none;
    box-shadow: 0 0 0 1px #a9c0e7; 
  }
  
}
@media (max-width: 767px) and (min-width: 481px) {
    .container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        padding: auto;
        margin:auto auto auto auto;
    }
    
  .input {
    
    border: 2px solid black; 
    border-radius: 4px; 
    width: 64.5%;
    justify-content: center;
    height: 25%;
    color: #4a5568; 
    line-height: 1.25;
    outline: none;
    box-shadow: 0 0 0 1px #a9c0e7; 
    margin:auto auto auto auto;
  }
  
}
@media (max-width: 1480px) and (min-width: 768px) {
    .container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        padding: auto;
        margin:auto auto auto auto;
    }
    
  .input {
    
    
    border: 2px solid black; 
    border-radius: 4px; 
    width: 64.5%;
    height: 25%;
    justify-content: center;
    color: #4a5568; 
    line-height: 1.25;
    outline: none;
    box-shadow: 0 0 0 1px #a9c0e7;
    margin:auto auto auto auto; 
  }
  
}