*{
    padding: 0;
    margin: 0;
   
   
}
._cred.tsx{
    @media only screen and (max-width:480px){
        html{
            width:fit-content;
               overflow: hidden;    
            
        }
    }
}
.page.tsx{
    @media only screen and (max-width:480px){
        
        .html{
            width: 400px;
        }
    }
}