@media only screen and (max-width:480px) {

    .container{
        
        margin:auto auto auto auto;
        display: flex;
        align-items: center;
       
       

    }
    .button{
        background-color: #5f3cac;
        color:white;
        font-style: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 65.5%;
        height: 40px;
        
        margin:auto auto auto auto;
        border-radius: 4px;
    }
}
@media (max-width: 767px) and (min-width: 481px){

    .container{
        margin:auto auto auto auto;
       
        display: flex;
        align-items: center;
        

    }
    .button{
        background-color: #5f3cac;
        color:white;
        font-style: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 65.5%;
        height: 40px;
        
        
        border-radius: 4px;
        padding: auto;
        margin:auto auto auto auto;
    }
}
@media  (max-width: 1600px) and (min-width: 768px) {

    .container{
        margin:auto auto auto auto;
        
        display: flex;
        align-items: center;
        

    }
    .button{
        background-color: #5f3cac;
        color:white;
        font-style: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 65.5%;
        height: 40px;
        
        
        border-radius: 4px;
        margin:auto auto auto auto;
    }
}