@media only screen and (max-width:600px) {

    .container{
        margin-top: 6px;
        margin-left: 8px;
        margin-right: 8px;
        display: flex;
        justify-content: center;

    }
    .button{
        background-color: #5f3cac;
        color:white;
        font-style: bold;
        padding: 2px;
        width: 350px;
        height: 40px;
        
        border-radius: 4px;
    }
}